#container-ele{
  border: 1px solid gray;
  height: 800px;
  overflow-y: scroll;
}
#container-con{
  border: 1px solid gray;
}
#container-prop{
  border: 1px solid gray;
}

.node-ele {
    margin-top: 20px;
}
.node-con {
  position: absolute;
}
.node-label {
  text-align: center;
}
.node-inner {
  width: 160px;
  border: 1px solid blue;
  margin: 0 auto;
  display: block;
}
.node-pads {
  height: 50px;
}
.node-title {
  display: block;
  width: 100%;
  padding-left:4px;
  line-height: 24px;
  font-size: 12px;
  font-weight: 500;
  background-color: skyblue;
}
.node-insection{
  display: block;
  float: left;
  width: 50%;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
  border-right: 1px solid skyblue;
}
.node-outsection{
  display: block;
  float: right;
  width: 50%;
  line-height: 50px;
  font-size: 15px;
  text-align: center;
}
.node-section-all{
  display: block;
  width: 100%;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  padding-left:4px;
}

#export {
  bottom: 0;
  right: 0;
  position: absolute;
  margin-bottom: 10px;
  margin-right: 10px;
}